{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": { "browsers": ["> 1%", "IE >= 10", "Safari >= 9"] },
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-async-to-generator"
  ]
}
